@model TdTutor.Models.Docente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            <a>Documento</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nroDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" asp-route-rol="@Model.rol">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
