@model IEnumerable<TdTutor.Models.Docente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create">Registrar Docente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.materia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.materia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" asp-route-rol="@item.rol">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
